<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dish</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/res.css}">
</head>
<body>
<div id="div_margin">
    <h1>Add your Dishes</h1>
    <form th:action="@{/restaurant/saveDish}" th:object="${dish}" method="post">
        <div class="form-group">
            <label>Dish Name</label>
            <input autocomplete="false" type="text" class="form-control" id="name" name="name" field="*{name}"
                   placeholder="Enter dish name" required>
        </div>
        <div class="form-group">
            <label>Dish Price</label>
            <input autocomplete="false" type="text" class="form-control" id="price" name="price" field="*{price}"
                   placeholder="Enter Price" required>
        </div>
        <div class="form-group">
            <label>Dish Type</label>
            <input autocomplete="false" type="text" class="form-control" id="type" name="type" field="*{type}"
                   placeholder="Enter dish type" required>
        </div>
        <div class="form-group">
            <button type="submit" id="add" class="btn btn-primary">Add</button>
        </div>
        <div class="form-group">
            <a th:href="@{/logout}">Logout</a>
        </div>
    </form>
</div>
</body>
</html>