<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/form.css}">

</head>
<body>

<div id="login-form-wrap">
    <h2>Login</h2>

    <th:block class="alert-danger" th:if="${param.error}">
        <p class="text-danger">Invalid username or Password!!</p>
    </th:block>

    <form id="login-form" th:action="@{/login}" method="post">
        <p>
            <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"></i>
        </p>
        <p>
            <input type="password" id="password" name="password" placeholder="Password" required><i
                class="validation"></i>
        </p>
        <p>
            <input type="submit" id="login" value="Login">
        </p>
    </form>
    <div id="create-account-wrap">
        <p>Not a member? <a th:href="@{signup}">Create Account</a>
        <p>
    </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->

</body>
</html>
