<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <title>Search</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body class="container">

<div>
    <div class="search-container">
        <form th:action="@{/showcart/}" method="GET" id="showCart">
            <button type="submit" class="btn btn-primary" id="cartButton">Show Cart</button>
        </form>
    </div>
</div>

<div class="dishes">
    <div class="dish-card" th:each="dishes:${dishes}">
        <img src="/img/food.jpeg"/>
        <div class="dish-info">
            <div>
                <h3 th:text="${dishes.dishName}"/>
                <div th:text="${dishes.dishPrice}"/>
            </div>
            <div th:text="${dishes.dishType}"/>
        </div>
        <div class="action">
            <button th:data-id="${dishes.dishId}" th:data-dish="${dishes.dishName}"
                    onclick="addToCart(this.getAttribute('data-id'),this.getAttribute('data-dish'))">Add to cart
            </button>
        </div>
    </div>
</div>

<script>
    function addToCart(id, name) {
        fetch("/cart/add/" + id).then(res => console.log(res));
        alert(name + " added to the cart");
    }
</script>
</body>
</html>

